# 自动站降水的绘制

In [1]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select RR from TAB_Aws2019 where (IIiii='58667' and tTime between '2019-08-09 22:00' and '2019-08-10 08:00') order by tTime"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)
print(row)
cursor.close()  # 关闭游标
conn.close()  # 关闭连接

/home/liyuan3970/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  """Entry point for launching an IPython kernel.

(11, 1)
[(56,), (86,), (209,), (195,), (291,), (172,), (253,), (186,), (144,), (62,), (10,)]

# Pandas的分组聚合

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
     'key2':['one', 'two', 'one', 'two', 'one'],
     'data1':np.random.randn(5),
     'data2':np.random.randn(5)})
print(df)


grouped = df.groupby(df['key1'])

grouped.sum()

  key1 key2     data1     data2
0    a  one -0.475953 -2.768024
1    a  two  0.018684  0.657692
2    b  one  1.117083 -0.967863
3    b  two -1.619283 -0.225593
4    a  one  1.322983  1.074086

         data1     data2
key1
a     0.865714 -1.036246
b    -0.502200 -1.193457

In [3]:
grouped = df.groupby(df['key1'])
grouped.mean()

         data1     data2
key1
a     0.288571 -0.345415
b    -0.251100 -0.596728

In [ ]:
"select b.lat,b.lon,b.IIiii a.RR from TAB_Aws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(Province = '浙江'))tTime between '2019-08-09 23:00' and '2019-08-10 06:00'))"

# 国家站

In [1]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select lat,b.lon,b.IIiii,RR from TAB_Aws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(Province = '浙江') and tTime between '2019-08-09 23:01' and '2019-08-10 06:01'))"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)

cursor.close()  # 关闭游标
conn.close()  # 关闭连接

/home/liyuan3970/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  """Entry point for launching an IPython kernel.

(714, 4)

In [2]:
clm=["lat","lon","IIiii","RR"]
df = pd.DataFrame(row,columns=clm)
df.to_excel('nation.xlsx')

In [3]:
grouped = df.groupby(df['IIiii'])

data = grouped.mean()

In [58]:
data.to_excel('my.xlsx')

In [4]:
data.to_csv('RR_nation.csv')

# 区域产

In [5]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select lat,b.lon,b.IIiii,RR from TAB_Mws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(Province = '浙江') and tTime between '2019-08-09 23:01' and '2019-08-10 06:01'))"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)

cursor.close()  # 关闭游标
conn.close()  # 关闭连接
clm=["lat","lon","IIiii","RR"]
df = pd.DataFrame(row,columns=clm)
grouped = df.groupby(df['IIiii'])

data = grouped.mean()
data.to_csv('RR_region_right.csv')

(20509, 4)

In [3]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select b.Height,lat,b.lon,b.IIiii,RR from TAB_Mws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(Province = '浙江') and tTime between '2019-08-09 23:01' and '2019-08-10 06:01'))"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)

cursor.close()  # 关闭游标
conn.close()  # 关闭连接
clm=["Height","lat","lon","IIiii","RR"]
df = pd.DataFrame(row,columns=clm)
print(df)
df.to_csv('RR_region_height.csv')
# grouped = df.groupby(df['IIiii'])

# data = grouped.mean()
# data
# data.to_csv('RR_region_height.csv')

(20509, 5)
      Height        lat         lon  IIiii  RR
0      01507  28.450000  119.483333  K0101  67
1      02060  27.983333  119.633333  K0102  65
2      00200  30.266667  120.166667  K1001  23
3         70  30.366667  120.133333  K1002  16
4      00240  30.300000  120.333333  K1003  18
...      ...        ...         ...    ...  ..
20504    283  30.316667  122.016667  K9727   0
20505    370  30.216667  121.883333  K9728   0
20506    330  29.720000  122.150000  K9735  51
20507    640  30.770000  122.650000  K9739   0
20508    300  30.330000  121.980000  K9740   2

[20509 rows x 5 columns]

In [ ]:
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select b.Height,lat,b.lon,b.IIiii,RR from TAB_Aws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(Province = '浙江') and tTime between '2019-08-09 23:01' and '2019-08-10 06:01'))"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)

cursor.close()  # 关闭游标
conn.close()  # 关闭连接
clm=["Height","lat","lon","IIiii","RR"]
df = pd.DataFrame(row,columns=clm)
print(df)
df.to_csv('RR_height.csv')

# 自动站数据整合

In [62]:
# 台州地区数据
import pymssql 
import pandas as pd
server = "172.21.158.201"    # 连接服务器地址
user = "down"# 连接帐号
password = "downx"# 连接密码
conn = pymssql.connect(server, user, password, "ZJSZDZDB")  #获取连接

cursor = conn.cursor() # 获取光标

cursor.execute('USE ZJSZDZDB' )

sql  = "select lat,b.lon,b.IIiii,RR from TAB_Mws2019 as a left join TAB_StationInfo as b on a.IIiii=b.IIiii where (b.IIiii in (select IIiii from TAB_StationInfo where(City = '台州') and tTime between '2019-08-09 23:00' and '2019-08-10 06:00'))"
cursor.execute(sql) 
#select IIiii ,MAX(fFy*1000+dFy) AS Expr1 FROM Tab_Aws WHERE (IIiii IN('58665','58559','58568','58652')) AND (tTime BETWEEN '2020-7-14 2:00:01' AND '2020-7-14 05:00:00') GROUP BY IIiii
#sql2 = "GO"
#cursor.execute(sql2)
row = cursor.fetchall()
print(pd.DataFrame(list(row)).shape)

cursor.close()  # 关闭游标
conn.close()  # 关闭连接
clm=["lat","lon","IIiii","RR"]
df = pd.DataFrame(row,columns=clm)
grouped = df.groupby(df['IIiii'])

data = grouped.mean()
data.to_csv('RR_region_taizhou.csv')

(2426, 4)

# ncl

In [ ]:
/home/liyuan3970/Typhoon_LMQ/data/ncl/RR_region_scater.ncl